.git
.env
.env.*
!.env.production.example
node_modules
vendor
bootstrap/cache/*.php
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
phpunit.xml
.phpunit.cache
*.log
